.Notes {
    display: flex; 
    display: flex;  
    justify-content: space-between;
    border-style: solid; 
    border-width: 0px; 
    margin-left: 0px;
    margin-right: 60px;
    flex-direction: row; 
    flex-wrap: wrap;    
}

.Notes form textarea {
    min-width: 700px; 
    max-width: 700px;
    min-height: 500px; 
    max-height: 500px; 
    font-size: 0.8rem; 
}

editButton {
    min-width: 700px;
    max-width: 700px;
}

.Editor {
    display: flex;
    flex-direction: row;
    align-items: stretch; 
}

.sidePane {
    padding-left: 60px;
    min-width: 410px;
    max-width: 410px; 
}

submission {
    min-width: 410px; 
    max-width: 410px; 
}

