body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #FFFFFF;
  font-size: 16px; 
  -moz-osx-font-smoothing: grayscale; 
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: 'Merriweather', serif;
  font-style: italic; 
  font-size: 96;
}

h2 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 60; 
}

h3 {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-size: 48;
}

h4 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 34; 
}

h5 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 24; 
}

h6 {
  font-family: 'Merriweather', serif;
  font-size: 20;
}

button {
  font-family: 'Merriweather', serif;
  font-weight: 14; 
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select.form-control, 
textarea.form-control, 
input.form-control {
  font-size: 1rem; 
}
input[type=file] { 
  width: 100%;
}